<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <h1>Flairs</h1>

      <ul class="list-group">

        <% flairs.forEach((flair) => { %>
          <li class="list-group-item">
            <a href="/flairs/<%= flair.id %>"> <%= flair.name %> </a>
          </li>
        <% }) %>
      </ul>

    </main>
  </body>
</html>
